/* Extra small devices (phones, up to 480px) */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body, html {
		height: 100%;
	}

	.fullheight-sm {
		height: 100%;
	}

	.fullwidth-sm {
		width: 100%;
	}

	#chat-container {
		position: absolute;
		top: 50px;
		bottom: 0;
	}

	#chat-window {
		position: relative;
	}

	#chat-log-container {
		position: absolute;
		top: 0;
		bottom: 50px;
	}

	#chat-log {
		position: absolute;
		bottom: 0;
		max-height: 100%;
		overflow: auto;

		padding-bottom: 20px;
		padding-top: 20px;
	}

	#chat-input {
		position: absolute;
		height: 50px;
		bottom: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
