.navbar {
	margin-bottom: 0;
}

.alert {
	position: absolute;
	width: 100%;
	margin-bottom: 0;
	z-index: 1;
}

.hidden {
	display: none !important;
}

/*
| Chat sidebar
*/

.sidebar-title {
	color: black;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
}

.sidebar-title:hover {
	color: inherit;
	text-decoration: none;
}

.sidebar-title:visited {
	color: inherit;
	text-decoration: none;
}

.sidebar-list {
	margin-bottom: 10px;
}

.sidebar-list a.item {
	overflow: hidden;
	color: inherit;
	display: block;
	text-decoration: none;

	border-radius: 4px;
	padding: 2px 4px 2px 4px;

	word-wrap: break-word;
}

.sidebar-list a.item:hover {
	color: inherit;
	background-color: #f5f5f5;
}

.sidebar-list a.item.active {
	color: #eee;
	background-color: #428BCA;
}

.sidebar-list a.item.active *{
    color: #eee;
}

.sidebar-list a.item.active:hover {
	background-color: #3276B1;
}

/*
| Modal contact list
*/

.modal-contact-list > * {
	overflow: hidden;
	display: block;

	border-radius: 4px;
	padding: 2px 4px 2px 4px;
}

.modal-contact-list *:hover {
	background-color: #f5f5f5;
}

.modal-contact-list label {
	font-weight: normal;
}

.modal-contact-list label > input[type=checkbox] {
	margin-right: 4px;
}

/*
| Chat message styles
*/

.chat-log-username {
	font-weight: bold;
}

.chat-message-text {
	word-wrap: break-word;
	margin-right: 60px;
}

.chat-message-time {
	color: #888;
	width: 50px;
	text-align: right;
}

.chat-log-date {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;

	height: 1px;
	text-align: center;

	background-color: #bbb; 
	color: #bbb;
}

.chat-log-date > span {
	position: relative;
	top: -0.75em;
	padding-right: 5px;
	padding-left: 5px;

	background-color: white;
}

/*
| Contact status
*/

.status-online {
	color: #5EB85C;
}

.active > .status-online {
	color: #fff;
}

.status-offline {
	color: #aaa;
}

.active > .status-offline {
	color: #fff;
}

.status-unknown {
	color: #F0AD4E;
}

.active > .status-unknown {
	color: #fff;
}

/*
| Parsley (form validation)
*/

input.parsley-success, textarea.parsley-success {
	color: #468847 !important;
	background-color: #DFF0D8 !important;
	border: 1px solid #D6E9C6 !important;
}

input.parsley-error, textarea.parsley-error {
	color: #B94A48 !important;
	background-color: #F2DEDE !important;
	border: 1px solid #EED3D7 !important;
}

ul.parsley-error-list {
	font-size: 12px;
	margin-left: -30px;
	margin-top: 5px;
	margin-bottom: 5px;
	list-style-type: none;
}

/*
| Chatly logo
*/

#chatly-logo-back {
	display: table;
	margin: auto;
	background: #4098e4;

	-webkit-animation: super-rainbow 30s infinite linear; 
	   -moz-animation: super-rainbow 30s infinite linear;
}

@-webkit-keyframes super-rainbow {
	0%   { background: #d25252; } 
	20%  { background: #8b52d2; }
	40%  { background: #528bd2; }
	60%  { background: #5ed252; }
	80%  { background: #cdd252; }
	100% { background: #d25252; }
}

@-moz-keyframes super-rainbow {
	0%   { background: #d25252; } 
	20%  { background: #8b52d2; }
	40%  { background: #528bd2; }
	60%  { background: #5ed252; }
	80%  { background: #cdd252; }
	100% { background: #d25252; }
}
