.navbar {
	margin-bottom: 0px;
}

.alert {
	margin-bottom: 0px;
}

input.parsley-success, textarea.parsley-success {
	color: #468847 !important;
	background-color: #DFF0D8 !important;
	border: 1px solid #D6E9C6 !important;
}

input.parsley-error, textarea.parsley-error {
	color: #B94A48 !important;
	background-color: #F2DEDE !important;
	border: 1px solid #EED3D7 !important;
}

ul.parsley-error-list {
	font-size: 12px;
	margin-left: -30px;
	margin-top: 5px;
	margin-bottom: 5px;
	list-style-type: none;
}

#chatly-logo-back {
	display: table;
	margin: auto;
	background: #4098e4;

	-webkit-animation: super-rainbow 30s infinite linear; 
	   -moz-animation: super-rainbow 30s infinite linear;
}

@-webkit-keyframes super-rainbow {
	0%   { background: #d25252; } 
	20%  { background: #8b52d2; }
	40%  { background: #528bd2; }
	60%  { background: #5ed252; }
	80%  { background: #cdd252; }
	100% { background: #d25252; }
}

@-moz-keyframes super-rainbow {
	0%   { background: #d25252; } 
	20%  { background: #8b52d2; }
	40%  { background: #528bd2; }
	60%  { background: #5ed252; }
	80%  { background: #cdd252; }
	100% { background: #d25252; }
}